/**RESET**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/************LAYOUT**************/

/*ELEMENTS*/

footer {
    height: 50px;
    background-color: #8240FE;
    margin-top: 20px;
}

/*CLASSES*/

.container {
    width: 920px;
    margin: auto;
}

.title {
    height: 60px;
    background-color: #abcfe7;
    margin-bottom: 15px;
}

.hero {
    height: 350px;
    background-color: #e2d67a;
    margin: 20px 0;
}

.content {
    background-color: #0586fd;
}

.col { 
    width: 20%;
    height: 350px;
    background-color: #abcfe7;
    margin-bottom: 15px;
    float: left;
}

.col.center {
    width: calc(60% - (15px * 2));
    margin: 0px 15px 15px;
}

/***************CONTENUTO**********/

.logo {
    width: 130px;
    border-right: 1px solid lightgray;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    margin-top: 30px;
    margin-left: -3px;
}
  
  nav ul li {
    display: inline-block;
}
  
  nav ul li a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    color: #d0d0d0;
    font-size: 12px;
    font-weight: 400;
}

